.App {
  padding: 1em;
  background: #f7f3e9;
  @media (max-width: 700px) {
      padding-top: 64px;
  }
  @media (min-width: 700px) {
      position: fixed;
      width: 220px;
      height: calc(100% - 64px);
      overflow-y: scroll;
  }
}
